game.next=7
game.delay_at_beginning=1000
game.garbage_min=5
game.garbage_max=10
game.hole_repeat=0.5
game.exact_cc_move=yes
game.hold_lock=yes

graphic.resolution=1200x800
graphic.fps=100
graphic.flash_cycle=1.5
graphic.plan_opacity=0.3
graphic.hint_min_opacity=0.5

control.left=left
control.left.repeat_delay=0.15
control.left.repeat_rate=0.02
control.right=right
control.right.repeat_delay=0.15
control.right.repeat_rate=0.02
control.up=hard_drop
control.down=soft_drop
control.down.repeat_delay=0.05
control.down.repeat_rate=0.05
control.a=rotate_counter_clockwise
control.b=rotate_clockwise
control.x=rotate_clockwise
control.y=rotate_counter_clockwise
control.start=garbage
control.lb=hold
control.rb=hold

cc.speculate=yes
cc.pcloop=no
cc.min_nodes=10000
cc.max_nodes=100000
cc.threads=1